:root {
	--scrollbar-width: 0;
	--admin-bar-height: 32px;
}

@media (max-width: 782px) {
	:root {
		--admin-bar-height: 46px;
	}
}

body {
	color: color(gray);
	font-family: "Lato", sans-serif; /*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
}

body html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body body {
	margin: 0;
}

body article, body aside, body footer, body header, body nav, body section {
	display: block;
}

body h1, body .editor-post-title textarea,
body .post-type-page body .editor-post-title textarea {
	font-size: 2em;
	margin: 0.67em 0;
}

body figcaption, body figure {
	display: block;
}

body figure {
	margin: 1em 40px;
}

body hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

body main {
	display: block;
}

body pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

body a, body .wp-block-file__content-wrapper .wp-block-file__textlink {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

body abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

body b, body strong {
	font-weight: inherit;
}

body b, body strong {
	font-weight: bolder;
}

body code, body kbd, body samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

body dfn {
	font-style: italic;
}

body mark {
	background-color: #ff0;
	color: #000;
}

body small {
	font-size: 80%;
}

body sub, body sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

body sub {
	bottom: -0.25em;
}

body sup {
	top: -0.5em;
}

body audio, body video {
	display: inline-block;
}

body audio:not([controls]) {
	display: none;
	height: 0;
}

body img {
	border-style: none;
}

body svg:not(:root) {
	overflow: hidden;
}

body button, body input, body optgroup, body select, body textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

body button {
	overflow: visible;
}

body button, body select {
	text-transform: none;
}

body button, body html [type="button"], body [type="reset"],
body [type="submit"] {
	-webkit-appearance: button;
}

body button::-moz-focus-inner, body [type="button"]::-moz-focus-inner,
body [type="reset"]::-moz-focus-inner, body [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

body button:-moz-focusring, body [type="button"]:-moz-focusring,
body [type="reset"]:-moz-focusring, body [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

body input {
	overflow: visible;
}

body [type="checkbox"], body [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

body [type="number"]::-webkit-inner-spin-button,
body [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

body [type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

body [type="search"]::-webkit-search-cancel-button,
body [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

body ::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

body fieldset {
	padding: 0.35em 0.75em 0.625em;
}

body legend {
	box-sizing: border-box;
	display: table;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
}

body progress {
	display: inline-block;
	vertical-align: baseline;
}

body textarea {
	overflow: auto;
}

body details {
	display: block;
}

body summary {
	display: list-item;
}

body menu {
	display: block;
}

body canvas {
	display: inline-block;
}

body template {
	display: none;
}

body [hidden] {
	display: none;
}

body h1, body .editor-post-title textarea,
body .post-type-page body .editor-post-title textarea, body h2, body h3, body h4,
body h5, body h6 {
	font-weight: 900;
	margin: 1em 0;
}

body h1, body .editor-post-title textarea,
body .post-type-page body .editor-post-title textarea, body .h1 {
	letter-spacing: 0.03em;
	font-size: 60px;
	font-size: 3.75rem;
	line-height: calc(80em / 60);
}

@media (max-width: 47.9375rem) {
	body h1, body .editor-post-title textarea,
 body .post-type-page body .editor-post-title textarea, body .h1 {
		font-size: 40px;
		font-size: 2.5rem;
		line-height: 1.25;
	}
}

body h2, body .h2 {
	color: #343a40;
	letter-spacing: 0.02em;
	font-size: 40px;
	font-size: 2.5rem;
	line-height: 1.125;
}

body h3, body .h3 {
	color: #495057;
	letter-spacing: 0.025em;
	font-size: 32px;
	font-size: 2rem;
	line-height: calc(39em / 32);
}

body h4, body .h4 {
	color: #495057;
	letter-spacing: 0.015em;
	font-size: 28px;
	font-size: 1.75rem;
	line-height: calc(34em / 28);
}

body h5, body .h5 {
	color: #868e96;
	letter-spacing: 0.015em;
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: calc(28em / 23);
}

body h6, body .h6 {
	color: #adb5bd;
	letter-spacing: 0.015em;
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: calc(25em / 21);
}

body p, body .editor-rich-text p {
	letter-spacing: 0.015em;
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: calc(35em / 21);
}

body p.featured, body .editor-rich-text p.featured {
	color: #717680;
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: calc(30em / 23);
}

@media (max-width: 47.9375rem) {
	body p.featured, body .editor-rich-text p.featured {
		font-size: 21px;
		font-size: 1.3125rem;
		line-height: calc(30em / 21);
	}
}

body p.excerpt, body .excerpt p {
	color: #868e96;
	letter-spacing: 0.02em;
	margin: 0;
	font-size: 27px;
	font-size: 1.6875rem;
	line-height: calc(50em / 27);
}

@media (max-width: 47.9375rem) {
	body p.excerpt, body .excerpt p {
		font-size: 23px;
		font-size: 1.4375rem;
		line-height: calc(40em / 23);
	}
}

body ul, body ol {
	letter-spacing: 0.015em;
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: calc(45em / 21);
}

body .editor-post-title textarea {
	color: #21252a;
	font-family: "Lato", sans-serif;
	margin: 0;
}

body .post-type-page body .editor-post-title {
	padding-bottom: 74px;
	padding-bottom: 4.625rem;
	padding-top: 83px;
	padding-top: 5.1875rem;
}

body .post-type-page body .editor-post-title textarea {
	text-align: center;
}

body .wp-block,
body .block-editor-block-list__layout .block-editor-block-list__block {
	max-width: 926px;
}

body .wp-block[data-align="wide"],
body .block-editor-block-list__layout .block-editor-block-list__block[data-align="wide"] {
	max-width: 1300px;
}

body .wp-block[data-align="full"],
body .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
	max-width: none;
}

body .wp-block[data-align="wide"] .wp-block,
body .wp-block[data-align="full"] .wp-block,
body .block-editor-block-list__layout .block-editor-block-list__block[data-align="wide"] .wp-block,
body .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] .wp-block {
	max-width: none;
}

body .wp-block-pullquote blockquote>.block-editor-rich-text p {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: calc(35em / 18);
}

body .wp-block-pullquote__citation, body .wp-block-pullquote cite,
body .wp-block-pullquote footer {
	text-transform: initial;
}

body .block-editor-rich-text__editable a,
body .block-editor-rich-text__editable .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .block-editor-rich-text__editable .wp-block-file__textlink {
	color: #ffc33a;
}

body table, body .wp-block-table {
	margin: 100px 0;
	margin: 6.25rem 0;
}

body table, body .wp-block-table table {
	border: none;
	border-spacing: 0;
}

@media (max-width: 47.9375rem) {
	body table, body .wp-block-table table {
		margin: 60px 0;
		margin: 3.75rem 0;
	}
}

body .wp-block-table table {
	margin: 0;
}

body th, body td {
	border: none;
}

body th:first-child, body td:first-child {
	border-bottom-left-radius: 5px;
	border-bottom-left-radius: 0.3125rem;
	border-top-left-radius: 5px;
	border-top-left-radius: 0.3125rem;
}

body th:last-child, body td:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-right-radius: 0.3125rem;
	border-top-right-radius: 5px;
	border-top-right-radius: 0.3125rem;
}

body thead, body tfoot {
	color: #fff;
	letter-spacing: 0.3px;
	letter-spacing: 0.01875rem;
	text-transform: uppercase;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.1875;
}

body thead tr, body tfoot tr {
	background-color: #ff8787;
}

body thead th, body thead td, body tfoot th, body tfoot td {
	padding: 22px 47px 21px 47px;
	padding: 1.375rem 2.9375rem 1.3125rem 2.9375rem;
	position: relative;
}

body thead th::after, body thead td::after, body tfoot th::after,
body tfoot td::after {
	content: "•";
	display: block;
	position: absolute;
	color: #fff;
	font-size: 21px;
	font-size: 1.3125rem;
	right: -4.5px;
	right: -.28125rem;
	top: 50%;
	transform: translateY(-50%);
}

body thead th:first-child, body thead td:first-child, body tfoot th:first-child,
body tfoot td:first-child {
	padding-left: 40px;
	padding-left: 2.5rem;
}

body thead th:last-child, body thead td:last-child, body tfoot th:last-child,
body tfoot td:last-child {
	padding-right: 40px;
	padding-right: 2.5rem;
}

body thead th:last-child::after, body thead td:last-child::after,
body tfoot th:last-child::after, body tfoot td:last-child::after {
	display: none;
}

body tbody {
	color: #21252a;
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: calc(45em / 21);
}

body tbody th, body tbody td {
	border-bottom: 1px solid #f7f7f7;
	border-bottom: 0.0625rem solid #f7f7f7;
	padding: 9px 20px 10px 20px;
	padding: 0.5625rem 1.25rem 0.625rem 1.25rem;
	text-align: center;
}

body tbody tr:last-of-type th, body tbody tr:last-of-type td {
	border-bottom: none;
}

body .wp-block-table.is-style-stripes table tbody tr:nth-child(odd),
body .wp-block-table.is-style-stripes table tbody th:nth-child(odd) {
	background-color: #fff;
}

body .wp-block-table.is-style-stripes table tbody tr:nth-child(even),
body .wp-block-table.is-style-stripes table tbody th:nth-child(even) {
	background-color: #f7f7f7;
}

body .wp-block-file__content-wrapper .wp-block-file__textlink {
	text-decoration: underline;
}

body .block-editor-block-list__block-edit label,
body .block-editor-block-list__block-edit p.label {
	color: #868e96;
	display: block;
	font-weight: 700;
	margin: 40px 0 10px 0;
	margin: 2.5rem 0 0.625rem 0;
	text-transform: uppercase;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.1875;
}

@media (max-width: 47.9375rem) {
	body .block-editor-block-list__block-edit label,
 body .block-editor-block-list__block-edit p.label {
		margin: 20px 0 10px 0;
		margin: 1.25rem 0 0.625rem 0;
	}
}

body .block-editor-block-list__block-edit fieldset {
	border: 0 transparent;
	padding: 0;
}

body .block-editor-block-list__block-edit input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]),
body .block-editor-block-list__block-edit select,
body .block-editor-block-list__block-edit textarea {
	background-color: #f7f7f7;
	border: 0 transparent;
	border-radius: 0.3125rem;
	color: #495057;
	padding: 19px 40px;
	padding: 1.1875rem 2.5rem;
	width: 100%;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: calc(24em / 18);
}

body .block-editor-block-list__block-edit input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-ms-input-placeholder,
body .block-editor-block-list__block-edit select:-ms-input-placeholder,
body .block-editor-block-list__block-edit textarea:-ms-input-placeholder {
	color: #adb5bd;
}

body .block-editor-block-list__block-edit input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-ms-input-placeholder,
body .block-editor-block-list__block-edit select::-ms-input-placeholder,
body .block-editor-block-list__block-edit textarea::-ms-input-placeholder {
	color: #adb5bd;
}

body .block-editor-block-list__block-edit input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::placeholder,
body .block-editor-block-list__block-edit select::placeholder,
body .block-editor-block-list__block-edit textarea::placeholder {
	color: #adb5bd;
}

body .block-editor-block-list__block-edit textarea {
	min-height: 206px;
	min-height: 12.875rem;
	padding: 40px;
	padding: 2.5rem;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: calc(25em / 18);
}

body .block-editor-block-list__block-edit select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(images/arrow-down.svg);
	background-position: right 26px top 50%, 0 0;
	background-position: right 1.625rem top 50%, 0 0;
	background-repeat: no-repeat, repeat;
	background-size: 0.9375rem auto, 100%;
	display: block;
	min-width: 334px;
	min-width: 20.875rem;
	width: auto;
}

@media (max-width: 20.875rem) {
	body .block-editor-block-list__block-edit select {
		min-width: 300px;
		min-width: 18.75rem;
	}
}

body .block-editor-block-list__block-edit select::-ms-expand {
	display: none;
}

body .block-editor-block-list__block-edit input[type="radio"],
body .block-editor-block-list__block-edit input[type="checkbox"] {
	opacity: 0;
	position: absolute;
}

body .block-editor-block-list__block-edit input[type="radio"]+label,
body .block-editor-block-list__block-edit input[type="checkbox"]+label {
	color: #21252a;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	margin: 6px 0;
	margin: 0.375rem 0;
	padding: 0 0 0 44px;
	padding: 0 0 0 2.75rem;
	position: relative;
	text-transform: initial;
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: calc(25em / 21);
}

body .block-editor-block-list__block-edit input[type="radio"]+label::before,
body .block-editor-block-list__block-edit input[type="checkbox"]+label::before {
	content: "";
	display: block;
	height: 24px;
	height: 1.5rem;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
	width: 1.5rem;
	background: #f7f7f7;
	border: 1px solid #dfdfdf;
}

body .block-editor-block-list__block-edit input[type="radio"]+label::after,
body .block-editor-block-list__block-edit input[type="checkbox"]+label::after {
	content: "";
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	transform: scale(0.3);
	transition: all 0.2s;
}

body .block-editor-block-list__block-edit input[type="radio"]:checked+label::after,
body .block-editor-block-list__block-edit input[type="checkbox"]:checked+label::after {
	opacity: 1;
	transform: scale(1);
}

body .block-editor-block-list__block-edit input[type="checkbox"]+label::after {
	background-image: url(images/check.svg);
	height: 13px;
	height: 0.8125rem;
	left: 5px;
	left: 0.3125rem;
	top: 6px;
	top: 0.375rem;
	width: 15px;
	width: 0.9375rem;
}

body .block-editor-block-list__block-edit input[type="radio"]+label::before {
	border-radius: 50%;
}

body .block-editor-block-list__block-edit input[type="radio"]+label::after {
	background-image: url(images/radio-active.svg);
	height: 8px;
	height: 0.5rem;
	left: 8px;
	left: 0.5rem;
	top: 8px;
	top: 0.5rem;
	width: 8px;
	width: 0.5rem;
}

body .block-editor-block-list__block-edit label input,
body .block-editor-block-list__block-edit label select,
body .block-editor-block-list__block-edit label textarea {
	margin-top: 10px;
	margin-top: 0.625rem;
}

body .block-editor-block-list__block-edit .post-password-form label {
	margin-bottom: 60px;
	margin-bottom: 3.75rem;
}

body p.wp-block-paragraph {
	margin: 40px 0 60px;
	margin: 2.5rem 0 3.75rem;
}

body .wp-block-image {
	margin: 0;
	max-width: none;
}

body .wp-block-image img {
	vertical-align: top;
}

body .wp-caption {
	display: block;
}

body .entry-content::after {
	clear: both;
	content: "";
	display: block;
}

body .entry-content img {
	display: block;
	height: auto;
	max-width: 100%;
}

body .entry-content figure.alignleft, body .entry-content img.alignleft {
	float: left;
	margin: 8px 16px 16px 0;
	margin: 0.5rem 1rem 1rem 0;
}

body .entry-content figure.alignright, body .entry-content img.alignright {
	float: right;
	margin: 8px 0 16px 16px;
	margin: 0.5rem 0 1rem 1rem;
}

body .entry-content figure.alignnone, body .entry-content img.alignnone {
	margin: 100px 0;
	margin: 6.25rem 0;
	max-width: 100%;
}

@media (max-width: 47.9375rem) {
	body .entry-content figure.alignnone, body .entry-content img.alignnone {
		margin: 60px 0;
		margin: 3.75rem 0;
	}
}

body .entry-content figure.aligncenter, body .entry-content img.aligncenter {
	margin: 100px auto;
	margin: 6.25rem auto;
	max-width: 100%;
}

@media (max-width: 47.9375rem) {
	body .entry-content figure.aligncenter, body .entry-content img.aligncenter {
		margin: 60px auto;
		margin: 3.75rem auto;
	}
}

body body:not(.has-sidebar) .wp-block-group.alignwide {
	max-width: 1350px;
}

@media (max-width: 47.9375rem) {
	body body:not(.has-sidebar) .wp-block-group.alignwide {
		max-width: 1310px;
	}
}

body .wp-block-quote, body body.single-post .entry-content .wp-block-quote {
	border: 0 solid transparent;
	margin: 60px 0;
	margin: 3.75rem 0;
	padding: 0;
	position: relative;
	text-align: left;
}

@media (max-width: 110.5625rem) {
	body .wp-block-quote, body body.single-post .entry-content .wp-block-quote {
		margin: 60px 0 60px 20px;
		margin: 3.75rem 0 3.75rem 1.25rem;
	}
}

@media (max-width: 63.9375rem) {
	body .wp-block-quote, body body.single-post .entry-content .wp-block-quote {
		margin: 60px 20px;
		margin: 3.75rem 1.25rem;
	}
}

body .wp-block-quote::after,
body body.single-post .entry-content .wp-block-quote::after {
	content: "";
	display: block;
	height: 45px;
	height: 2.8125rem;
	left: -46px;
	left: -2.875rem;
	position: absolute;
	top: -12px;
	top: -.75rem;
	width: 71px;
	width: 4.4375rem;
	z-index: -1;
	background-image: url(images/quote_shape.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width: 47.9375rem) {
	body .wp-block-quote::after,
 body body.single-post .entry-content .wp-block-quote::after {
		left: -40px;
		left: -2.5rem;
	}
}

body .wp-block-quote.has-text-align-right,
body body.single-post .entry-content .wp-block-quote.has-text-align-right {
	text-align: right;
}

body .wp-block-quote.has-text-align-right::after,
body body.single-post .entry-content .wp-block-quote.has-text-align-right::after {
	left: initial;
	right: -45px;
	right: -2.8125rem;
}

@media (max-width: 47.9375rem) {
	body .wp-block-quote.has-text-align-right::after,
 body body.single-post .entry-content .wp-block-quote.has-text-align-right::after {
		right: -40px;
		right: -2.5rem;
	}
}

body .wp-block-quote.is-large, body .wp-block-quote.is-style-large,
body body.single-post .entry-content .wp-block-quote.is-large,
body body.single-post .entry-content .wp-block-quote.is-style-large {
	padding: 0;
}

body .wp-block-quote.has-background blockquote,
body body.single-post .entry-content .wp-block-quote.has-background blockquote {
	max-width: 100%;
	padding: 20px;
	padding: 1.25rem;
}

body .wp-block-quote.has-background::after,
body body.single-post .entry-content .wp-block-quote.has-background::after {
	z-index: 1;
}

body .wp-block-quote p, body body.single-post .entry-content .wp-block-quote p {
	font-family: "Libre Baskerville", serif;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.36px;
	letter-spacing: 0.0225rem;
	margin: 13px 0;
	margin: 0.8125rem 0;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: calc(35em / 18);
}

body .wp-block-quote cite, body .wp-block-quote .wp-block-quote__citation,
body .wp-block-quote .wp-block-pullquote__citation,
body body.single-post .entry-content .wp-block-quote cite,
body body.single-post .entry-content .wp-block-quote .wp-block-quote__citation,
body body.single-post .entry-content .wp-block-quote .wp-block-pullquote__citation {
	color: #ffc33a;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 0.249px;
	letter-spacing: 0.01562rem;
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: calc(25em / 21);
}

@media (min-width: 64rem) {
	body body.has-sidebar .entry-content .wp-block-quote.has-text-align-right p,
 body body.has-sidebar .entry-content .wp-block-quote.has-text-align-right cite {
		margin-right: 45px;
		margin-right: 2.8125rem;
	}
}

@media (min-width: 64rem) {
	body body.has-sidebar .entry-content .wp-block-quote.has-text-align-right::after {
		right: 0;
	}
}

body .wp-block-pullquote {
	margin: 100px 0;
	margin: 6.25rem 0;
	padding: 60px 0;
	padding: 3.75rem 0;
}

@media (max-width: 47.9375rem) {
	body .wp-block-pullquote {
		margin: 60px 0;
		margin: 3.75rem 0;
		padding: 40px 0;
		padding: 2.5rem 0;
	}
}

body .wp-block-pullquote blockquote {
	margin: 0;
}

body .wp-block-pullquote blockquote p,
body .wp-block-pullquote blockquote>.block-editor-rich-text p {
	margin-bottom: 1em;
	font-size: 27px;
	font-size: 1.6875rem;
	line-height: calc(50em / 27);
}

body .wp-block-pullquote cite,
body .wp-block-pullquote .wp-block-pullquote__citation {
	font-style: normal;
}

body .wp-block-pullquote.is-style-solid-color {
	background-color: #f7f7f7;
}

body .wp-block-pullquote.is-style-solid-color blockquote {
	max-width: none;
	padding: 0 40px;
	padding: 0 2.5rem;
}

@media (max-width: 47.9375rem) {
	body .wp-block-pullquote.is-style-solid-color blockquote {
		padding: 0 20px;
		padding: 0 1.25rem;
	}
}

body .wp-block-pullquote.is-style-solid-color blockquote p {
	margin-bottom: 1em;
}

body .wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) cite,
body .wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) .wp-block-pullquote__citation {
	color: #495057;
}

body .wp-block-pullquote:not(.is-style-solid-color) {
	border-bottom: 2px solid #868e96;
	border-bottom: 0.125rem solid #868e96;
	border-top: 2px solid #868e96;
	border-top: 0.125rem solid #868e96;
}

body .wp-block-pullquote:not(.is-style-solid-color) blockquote:not(.has-text-color) cite,
body .wp-block-pullquote:not(.is-style-solid-color) blockquote:not(.has-text-color) .wp-block-pullquote__citation {
	color: #ffc33a;
}

body .wp-block-pullquote:not(.is-style-solid-color) blockquote p {
	margin-bottom: 1em;
}

body pre {
	white-space: pre-line;
	word-break: keep-all;
}

body .wp-audio-shortcode, body .wp-block-audio {
	margin: 60px 0;
	margin: 3.75rem 0;
	width: 100%;
}

body .wp-block-cover a,
body .wp-block-cover .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .wp-block-cover .wp-block-file__textlink {
	color: #fff;
}

body .wp-block-cover a:hover,
body .wp-block-cover .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .wp-block-cover .wp-block-file__textlink:hover {
	text-decoration: none;
}

body .wp-block-cover:not(.alignleft):not(.alignright) {
	margin-bottom: 100px;
	margin-bottom: 6.25rem;
	margin-top: 100px;
	margin-top: 6.25rem;
}

@media (max-width: 47.9375rem) {
	body .wp-block-cover:not(.alignleft):not(.alignright) {
		margin-bottom: 60px;
		margin-bottom: 3.75rem;
		margin-top: 60px;
		margin-top: 3.75rem;
	}
}

body .wp-block-cover.alignleft {
	float: left;
	margin: 8px 16px 16px 0;
	margin: 0.5rem 1rem 1rem 0;
}

body .wp-block-cover.alignright {
	float: right;
	margin: 8px 0 16px 16px;
	margin: 0.5rem 0 1rem 1rem;
}

body .wp-block-columns {
	margin: 60px 0;
	margin: 3.75rem 0;
}

@media (min-width: 48rem) {
	body .wp-block-columns {
		flex-wrap: nowrap;
	}
}

@media (max-width: 29.9375rem) {
	body .wp-block-columns {
		margin: 60px 0 0 0;
		margin: 3.75rem 0 0 0;
	}
}

body .wp-block-columns.alignwide, body .wp-block-columns.alignfull {
	padding-left: 40px;
	padding-left: 2.5rem;
	padding-right: 40px;
	padding-right: 2.5rem;
}

@media (max-width: 47.9375rem) {
	body .wp-block-columns.alignwide, body .wp-block-columns.alignfull {
		padding-left: 20px;
		padding-left: 1.25rem;
		padding-right: 20px;
		padding-right: 1.25rem;
	}
}

body .wp-block-columns .wp-block-column {
	flex-basis: calc(50% - 1.25rem);
}

@media (max-width: 47.9375rem) {
	body .wp-block-columns .wp-block-column {
		flex-basis: calc(50% - 0.625rem);
		margin-bottom: 60px;
		margin-bottom: 3.75rem;
	}
}

@media (min-width: 64rem) {
	body .wp-block-columns .wp-block-column:not(:first-child) {
		margin-left: 40px;
		margin-left: 2.5rem;
	}
}

@media (min-width: 48rem) and (max-width: 63.9375rem) {
	body .wp-block-columns .wp-block-column:not(:first-child) {
		margin-left: 20px;
		margin-left: 1.25rem;
	}
}

@media (min-width: 37.5rem) and (max-width: 47.9375rem) {
	body .wp-block-columns .wp-block-column:nth-child(2n) {
		margin-left: 20px;
		margin-left: 1.25rem;
	}
}

body .wp-block-columns .wp-block-column>*:first-child {
	margin-top: 0 !important;
}

body .wp-block-columns .wp-block-column>*:last-child {
	margin-bottom: 0 !important;
}

body .wp-block-media-text {
	margin: 60px 0;
	margin: 3.75rem 0;
}

@media (max-width: 47.9375rem) {
	body .wp-block-media-text {
		display: block;
	}
}

@media (min-width: 48rem) {
	body .wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
		padding-left: 40px;
		padding-left: 2.5rem;
	}
}

@media (min-width: 48rem) {
	body .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		padding-right: 40px;
		padding-right: 2.5rem;
	}
}

body .wp-block-media-text.alignwide .wp-block-media-text__content,
body .wp-block-media-text.alignfull .wp-block-media-text__content {
	padding-left: 40px;
	padding-left: 2.5rem;
	padding-right: 40px;
	padding-right: 2.5rem;
}

@media (max-width: 47.9375rem) {
	body .wp-block-media-text.alignwide .wp-block-media-text__content,
 body .wp-block-media-text.alignfull .wp-block-media-text__content {
		padding-left: 20px;
		padding-left: 1.25rem;
		padding-right: 20px;
		padding-right: 1.25rem;
	}
}

@media (max-width: 47.9375rem) {
	body .wp-block-media-text:not(.alignwide):not(.alignfull) .wp-block-media-text__content {
		padding: 0;
	}
}

@media (min-width: 48rem) {
	body .wp-block-media-text:not(.alignwide):not(.alignfull):not(.has-media-on-the-right) .wp-block-media-text__content {
		padding-right: 0;
	}
}

@media (min-width: 48rem) {
	body .wp-block-media-text:not(.alignwide):not(.alignfull).has-media-on-the-right .wp-block-media-text__content {
		padding-left: 0;
	}
}

body .wp-block-separator, body hr {
	margin: 100px auto;
	margin: 6.25rem auto;
}

@media (max-width: 47.9375rem) {
	body .wp-block-separator, body hr {
		margin: 60px auto;
		margin: 3.75rem auto;
	}
}

body .wp-block-separator:not(.is-style-dots), body hr:not(.is-style-dots) {
	background-color: #adb5bd;
	border: none;
	border-radius: 0.125rem;
	height: 2px;
	height: 0.125rem;
}

body .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
body hr:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
	max-width: 6.25rem;
}

body .wp-block-separator.is-style-dots, body hr.is-style-dots {
	line-height: 0;
}

body .wp-block-separator.is-style-dots::before, body hr.is-style-dots::before {
	color: #adb5bd;
	letter-spacing: 12px;
	letter-spacing: 0.75rem;
	padding-left: 12px;
	padding-left: 0.75rem;
	font-size: 65px;
	font-size: 4.0625rem;
}

body .wp-block-file__content-wrapper, body .wp-block-file {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

body .wp-block-file {
	margin: 60px 0;
	margin: 3.75rem 0;
}

@media (max-width: 47.9375rem) {
	body .wp-block-file {
		flex-direction: column;
		justify-content: center;
	}
}

@media (max-width: 47.9375rem) {
	body .wp-block-file a.wp-block-file__button,
 body .wp-block-file .wp-block-file__content-wrapper .wp-block-file__button.wp-block-file__textlink,
 body .wp-block-file__content-wrapper .wp-block-file .wp-block-file__button.wp-block-file__textlink {
		margin: 20px 0 0;
		margin: 1.25rem 0 0;
	}
}

body .wp-block-file a.wp-block-file__button:hover,
body .wp-block-file .wp-block-file__content-wrapper .wp-block-file__button.wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .wp-block-file .wp-block-file__button.wp-block-file__textlink:hover {
	color: #ff8787;
}

body .wp-block-embed {
	margin: 100px 0;
	margin: 6.25rem 0;
}

@media (max-width: 47.9375rem) {
	body .wp-block-embed {
		margin: 60px 0;
		margin: 3.75rem 0;
	}
}

body .wp-block-embed .pierogi-video-wrap {
	position: relative;
}

body .wp-block-embed .pierogi-video-wrap iframe {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100% !important;
}

body .wp-block-rss {
	list-style: none;
	margin: 0;
	padding: 0;
}

body .screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	height: 0.0625rem;
	margin: -1px;
	margin: -.0625rem;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	width: 0.0625rem;
	word-wrap: normal !important;
}

body .screen-reader-text:focus {
	background-color: #868e96;
	border: 3px solid #ffc33a;
	border: 0.1875rem solid #ffc33a;
	border-radius: 0.1875rem;
	box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #ffc33a;
	display: block;
	font-weight: 700;
	height: auto;
	left: 5px;
	left: 0.3125rem;
	padding: 30px 20px;
	padding: 1.875rem 1.25rem;
	text-decoration: none;
	top: 5px;
	top: 0.3125rem;
	width: auto;
	z-index: 100000;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: calc(1em / 14);
}

body a, body .wp-block-file__content-wrapper .wp-block-file__textlink {
	color: #ffc33a;
	transition: 0.3s;
}

body .btn-primary, body .faux-button, body .wp-block-button__link,
body .wp-block-file .wp-block-file__button, body .bg-accent,
body .bg-accent-hover:hover, body .bg-accent-hover:focus,
body input[type="submit"], body input[type="button"], body .btn-secondary,
body input.btn-secondary[type="submit"], body input.btn-secondary[type="button"] {
	-webkit-appearance: none;
	border: 3px solid;
	border: 0.1875rem solid;
	border-radius: 0.3125rem;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 0.689px;
	letter-spacing: 0.04312rem;
	overflow-wrap: break-word;
	padding: 16px 57px 15px 57px;
	padding: 1rem 3.5625rem 0.9375rem 3.5625rem;
	text-transform: uppercase;
	transition: 0.3s ease-in;
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: calc(28em / 23);
}

@media (max-width: 29.9375rem) {
	body .btn-primary, body .faux-button, body .wp-block-button__link,
 body .wp-block-file .wp-block-file__button, body .bg-accent,
 body .bg-accent-hover:hover, body .bg-accent-hover:focus,
 body input[type="submit"], body input[type="button"], body .btn-secondary,
 body input.btn-secondary[type="submit"],
 body input.btn-secondary[type="button"] {
		padding: 9px 37px;
		padding: 0.5625rem 2.3125rem;
		font-size: 14px;
		font-size: 0.875rem;
		line-height: calc(16em / 14);
	}
}

body .btn-primary:not(:hover), body .faux-button:not(:hover),
body .wp-block-button__link:not(:hover),
body .wp-block-file .wp-block-file__button:not(:hover),
body .bg-accent:not(:hover), body .bg-accent-hover:not(:hover):hover,
body .bg-accent-hover:not(:hover):focus, body input:not(:hover)[type="submit"],
body input:not(:hover)[type="button"], body .btn-secondary:not(:hover) {
	border-color: transparent;
}

body .btn-primary:hover, body .faux-button:hover,
body .wp-block-button__link:hover,
body .wp-block-file .wp-block-file__button:hover, body .bg-accent:hover,
body .bg-accent-hover:hover, body input:hover[type="submit"],
body input:hover[type="button"], body .btn-secondary:hover {
	background-color: transparent !important;
}

body .btn-primary, body .faux-button, body .wp-block-button__link,
body .wp-block-file .wp-block-file__button, body .bg-accent,
body .bg-accent-hover:hover, body .bg-accent-hover:focus,
body input[type="submit"], body input[type="button"] {
	background-color: #ff8787;
}

body .btn-primary:hover, body .faux-button:hover,
body .wp-block-button__link:hover,
body .wp-block-file .wp-block-file__button:hover, body .bg-accent:hover,
body .bg-accent-hover:hover:hover, body .bg-accent-hover:focus:hover,
body input[type="submit"]:hover, body input[type="button"]:hover {
	color: #ff8787;
}

body .btn-secondary, body input[type="submit"].btn-secondary,
body input[type="button"].btn-secondary {
	background-color: #868e96;
}

body .btn-secondary:hover, body input[type="submit"].btn-secondary:hover,
body input[type="button"].btn-secondary:hover {
	color: #868e96;
}

body .container,
body:not(.has-sidebar) body:not(.has-sidebar) .wp-block-group.alignwide .wp-block-group__inner-container,
body:not(.has-sidebar) body:not(.has-sidebar) .wp-block-group.alignfull .wp-block-group__inner-container,
body .container-narrow {
	margin: auto;
	max-width: 1720px;
	max-width: 107.5rem;
	padding: 0 40px;
	padding: 0 2.5rem;
	width: 100%;
}

@media (max-width: 47.9375rem) {
	body .container,
 body:not(.has-sidebar) body:not(.has-sidebar) .wp-block-group.alignwide .wp-block-group__inner-container,
 body:not(.has-sidebar) body:not(.has-sidebar) .wp-block-group.alignfull .wp-block-group__inner-container,
 body .container-narrow {
		max-width: 1680px;
		max-width: 105rem;
		padding: 0 20px;
		padding: 0 1.25rem;
	}
}

body .container-narrow {
	max-width: 1160px;
	max-width: 72.5rem;
}

@media (max-width: 47.9375rem) {
	body .container-narrow {
		max-width: 1120px;
		max-width: 70rem;
	}
}

body .has-drop-cap:not(:focus)::after {
	padding-top: 0 !important;
}

body .has-drop-cap:not(:focus)::first-letter {
	font-weight: 800;
	letter-spacing: 0.03em;
	font-size: 69px;
	font-size: 4.3125rem;
	line-height: calc(92em / 69);
}

body body.page article .pierogi-drop-cap:not(:focus)>span,
body body.single-post article .pierogi-drop-cap:not(:focus)>span {
	float: left;
	font-weight: 800;
	letter-spacing: 0.03em;
	margin-left: -4px;
	margin-left: -.25rem;
	position: relative;
	text-transform: uppercase;
	font-size: 69px;
	font-size: 4.3125rem;
	line-height: calc(56em / 69);
}

body body.page article .pierogi-drop-cap:not(:focus)>span::before,
body body.single-post article .pierogi-drop-cap:not(:focus)>span::before {
	content: "";
	display: block;
	position: absolute;
	background-color: #ffd983;
	bottom: 0;
	bottom: -9px;
	bottom: -.5625rem;
	height: 24px;
	height: 1.5rem;
	left: -2px;
	left: -.125rem;
	right: -2px;
	right: -.125rem;
	z-index: -1;
}

body article li, body .block-library-list li {
	line-height: 45px;
	line-height: 2.8125rem;
}

body article ul, body .block-library-list ul {
	list-style: none;
	padding-left: 29px;
	padding-left: 1.8125rem;
}

body article ul:not(.blocks-gallery-grid)>li,
body .block-library-list ul:not(.blocks-gallery-grid)>li {
	position: relative;
}

body article ul:not(.blocks-gallery-grid)>li::before,
body .block-library-list ul:not(.blocks-gallery-grid)>li::before {
	content: "";
	display: block;
	height: 8px;
	height: 0.5rem;
	left: -29px;
	left: -1.8125rem;
	position: absolute;
	top: 20px;
	top: 1.25rem;
	width: 8px;
	width: 0.5rem;
	background-color: #868e96;
	border-radius: 50%;
}

body article ol, body .block-library-list ol {
	padding-left: 25px;
	padding-left: 1.5625rem;
}

body article ol>li::marker, body .block-library-list ol>li::marker {
	color: #868e96;
	font-weight: 700;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 2.5;
}

body iframe {
	max-width: 100%;
}

body dl {
	margin: 100px 0;
	margin: 6.25rem 0;
	font-size: 21px;
	font-size: 1.3125rem;
	line-height: calc(35em / 21);
}

body dt {
	font-weight: 700;
}

body dd {
	padding: 10px 0;
	padding: 0.625rem 0;
}

body figcaption, body .wp-caption-text, body .gallery-caption {
	color: #adb5bd;
	margin-bottom: 0 !important;
	margin-top: 20px !important;
	margin-top: 1.25rem !important;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: calc(17em / 14);
}

@media (max-width: 47.9375rem) {
	body figcaption, body .wp-caption-text, body .gallery-caption {
		font-size: 12px;
		font-size: 0.75rem;
		line-height: calc(20em / 12);
	}
}

body figcaption a,
body figcaption .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper figcaption .wp-block-file__textlink,
body .wp-caption-text a,
body .wp-caption-text .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .wp-caption-text .wp-block-file__textlink,
body .gallery-caption a,
body .gallery-caption .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .gallery-caption .wp-block-file__textlink {
	color: inherit;
}

body .page-header, body .entry-title-wrap, body body.page .entry-header {
	margin: 0 0 147px;
	margin: 0 0 9.1875rem;
}

@media (max-width: 47.9375rem) {
	body .page-header, body .entry-title-wrap, body body.page .entry-header {
		margin-bottom: 100px;
		margin-bottom: 6.25rem;
	}
}

body .page-header h1, body .page-header .editor-post-title textarea,
body .editor-post-title .page-header textarea,
body .page-header .post-type-page body .editor-post-title textarea,
body .post-type-page body .editor-post-title .page-header textarea,
body .entry-title-wrap h1, body .entry-title-wrap .editor-post-title textarea,
body .editor-post-title .entry-title-wrap textarea,
body .entry-title-wrap .post-type-page body .editor-post-title textarea,
body .post-type-page body .editor-post-title .entry-title-wrap textarea,
body body.page .entry-header h1,
body.page body.page .entry-header .editor-post-title textarea,
body.page .editor-post-title body.page .entry-header textarea,
body .post-type-page body.page .entry-header .editor-post-title textarea,
body .post-type-page body.page .editor-post-title .entry-header textarea {
	color: #21252a;
	margin-bottom: 15px;
	margin-bottom: 0.9375rem;
	margin-top: 0;
	text-align: center;
	text-decoration: none;
}

body .page-header .entry-subtitle, body .page-header .page-subtitle,
body .page-header .archive-description, body .page-header .archive-description p,
body .entry-title-wrap .entry-subtitle, body .entry-title-wrap .page-subtitle,
body .entry-title-wrap .archive-description,
body .entry-title-wrap .archive-description p,
body body.page .entry-header .entry-subtitle,
body body.page .entry-header .page-subtitle,
body body.page .entry-header .archive-description,
body body.page .entry-header .archive-description p {
	color: #717680;
	margin: 15px auto 0 auto;
	margin: 0.9375rem auto 0 auto;
	max-width: 550px;
	max-width: 34.375rem;
	text-align: center;
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: calc(30em / 23);
}

@media (max-width: 47.9375rem) {
	body .page-header .entry-subtitle, body .page-header .page-subtitle,
 body .page-header .archive-description,
 body .page-header .archive-description p,
 body .entry-title-wrap .entry-subtitle, body .entry-title-wrap .page-subtitle,
 body .entry-title-wrap .archive-description,
 body .entry-title-wrap .archive-description p,
 body body.page .entry-header .entry-subtitle,
 body body.page .entry-header .page-subtitle,
 body body.page .entry-header .archive-description,
 body body.page .entry-header .archive-description p {
		font-size: 21px;
		font-size: 1.3125rem;
		line-height: calc(30em / 21);
	}
}

body .widget {
	margin-bottom: 100px;
	margin-bottom: 6.25rem;
}

@media (max-width: 47.9375rem) {
	body .widget {
		margin-bottom: 60px;
		margin-bottom: 3.75rem;
	}
}

body .widget:last-of-type {
	margin-bottom: 0;
}

body .widget select {
	min-width: 0;
	width: 100%;
}

body .widget ul {
	list-style: none;
}

body .widget_archive li, body #page .wp-block-archives li,
body .widget_categories li, body #page .wp-block-categories li,
body .widget_nav_menu li, body .widget_tag_cloud li {
	color: #adb5bd;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.1875;
}

body .widget_archive a, body #page .wp-block-archives a,
body .widget_categories a, body #page .wp-block-categories a,
body .widget_nav_menu a, body .widget_tag_cloud a,
body .widget_archive .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_archive .wp-block-file__textlink,
body #page .wp-block-archives .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper #page .wp-block-archives .wp-block-file__textlink,
body .widget_categories .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_categories .wp-block-file__textlink,
body #page .wp-block-categories .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper #page .wp-block-categories .wp-block-file__textlink,
body .widget_nav_menu .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_nav_menu .wp-block-file__textlink,
body .widget_tag_cloud .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_tag_cloud .wp-block-file__textlink {
	border: 3px solid transparent;
	border: 0.1875rem solid transparent;
	box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.16);
	color: #adb5bd;
	text-decoration: none;
	transition: 0.2s;
}

body .widget_archive a:hover, body #page .wp-block-archives a:hover,
body .widget_categories a:hover, body #page .wp-block-categories a:hover,
body .widget_nav_menu a:hover, body .widget_tag_cloud a:hover,
body .widget_archive .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_archive .wp-block-file__textlink:hover,
body #page .wp-block-archives .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper #page .wp-block-archives .wp-block-file__textlink:hover,
body .widget_categories .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_categories .wp-block-file__textlink:hover,
body #page .wp-block-categories .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper #page .wp-block-categories .wp-block-file__textlink:hover,
body .widget_nav_menu .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_nav_menu .wp-block-file__textlink:hover,
body .widget_tag_cloud .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_tag_cloud .wp-block-file__textlink:hover {
	border-color: #ffc33a;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
	color: #ffc33a;
}

body .widget_archive>ul, body #page .wp-block-archives>ul,
body .widget_categories>ul, body #page .wp-block-categories>ul,
body #page .wp-block-archives, body #page .wp-block-categories,
body .widget_nav_menu>ul, body .widget_tag_cloud>ul {
	list-style: none;
	margin: 40px 0;
	margin: 2.5rem 0;
	padding-left: 0;
}

body .widget_archive>ul li::before, body .widget_categories>ul li::before,
body #page .wp-block-archives li::before,
body #page .wp-block-categories li::before, body .widget_nav_menu>ul li::before,
body .widget_tag_cloud>ul li::before {
	display: none !important;
}

body h2.widget-title {
	color: #868e96;
	font-weight: 700;
	margin: 0 0 40px 0;
	margin: 0 0 2.5rem 0;
	text-align: center;
	font-size: 30px;
	font-size: 1.875rem;
	line-height: calc(25em / 30);
}

@media (max-width: 47.9375rem) {
	body h2.widget-title {
		margin: 0 0 60px 0;
		margin: 0 0 3.75rem 0;
	}
}

body h2.widget-title a,
body h2.widget-title .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper h2.widget-title .wp-block-file__textlink {
	color: #868e96;
}

body .widget_archive li a, body #page .wp-block-archives li a,
body .widget_categories li a, body #page .wp-block-categories li a,
body .widget_archive li .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_archive li .wp-block-file__textlink,
body #page .wp-block-archives li .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper #page .wp-block-archives li .wp-block-file__textlink,
body .widget_categories li .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_categories li .wp-block-file__textlink,
body #page .wp-block-categories li .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper #page .wp-block-categories li .wp-block-file__textlink {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	padding: 12px 37px;
	padding: 0.75rem 2.3125rem;
	text-transform: uppercase;
}

body .widget_archive li a span, body #page .wp-block-archives li a span,
body .widget_categories li a span, body #page .wp-block-categories li a span,
body .widget_archive li .wp-block-file__content-wrapper .wp-block-file__textlink span,
body .wp-block-file__content-wrapper .widget_archive li .wp-block-file__textlink span,
body #page .wp-block-archives li .wp-block-file__content-wrapper .wp-block-file__textlink span,
body .wp-block-file__content-wrapper #page .wp-block-archives li .wp-block-file__textlink span,
body .widget_categories li .wp-block-file__content-wrapper .wp-block-file__textlink span,
body .wp-block-file__content-wrapper .widget_categories li .wp-block-file__textlink span,
body #page .wp-block-categories li .wp-block-file__content-wrapper .wp-block-file__textlink span,
body .wp-block-file__content-wrapper #page .wp-block-categories li .wp-block-file__textlink span {
	margin-left: 10px;
	margin-left: 0.625rem;
}

body .widget_archive li.current-cat>a,
body #page .wp-block-archives li.current-cat>a,
body .widget_categories li.current-cat>a,
body #page .wp-block-categories li.current-cat>a,
body .widget_archive .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_archive li.current-cat>.wp-block-file__textlink,
body #page .wp-block-archives .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink,
body .wp-block-file__content-wrapper #page .wp-block-archives li.current-cat>.wp-block-file__textlink,
body .widget_categories .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_categories li.current-cat>.wp-block-file__textlink,
body #page .wp-block-categories .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink,
body .wp-block-file__content-wrapper #page .wp-block-categories li.current-cat>.wp-block-file__textlink {
	color: #495057;
	transition: 0.2s;
}

body .widget_archive li.current-cat>a:hover,
body #page .wp-block-archives li.current-cat>a:hover,
body .widget_categories li.current-cat>a:hover,
body #page .wp-block-categories li.current-cat>a:hover,
body .widget_archive .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_archive li.current-cat>.wp-block-file__textlink:hover,
body #page .wp-block-archives .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper #page .wp-block-archives li.current-cat>.wp-block-file__textlink:hover,
body .widget_categories .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_categories li.current-cat>.wp-block-file__textlink:hover,
body #page .wp-block-categories .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper #page .wp-block-categories li.current-cat>.wp-block-file__textlink:hover {
	color: #495057;
}

body .widget_archive li.current-cat>a:hover span,
body #page .wp-block-archives li.current-cat>a:hover span,
body .widget_categories li.current-cat>a:hover span,
body #page .wp-block-categories li.current-cat>a:hover span,
body .widget_archive .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover span,
body .wp-block-file__content-wrapper .widget_archive li.current-cat>.wp-block-file__textlink:hover span,
body #page .wp-block-archives .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover span,
body .wp-block-file__content-wrapper #page .wp-block-archives li.current-cat>.wp-block-file__textlink:hover span,
body .widget_categories .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover span,
body .wp-block-file__content-wrapper .widget_categories li.current-cat>.wp-block-file__textlink:hover span,
body #page .wp-block-categories .wp-block-file__content-wrapper li.current-cat>.wp-block-file__textlink:hover span,
body .wp-block-file__content-wrapper #page .wp-block-categories li.current-cat>.wp-block-file__textlink:hover span {
	color: #ffc33a;
}

body .widget_archive a[aria-current],
body #page .wp-block-archives a[aria-current],
body .widget_categories a[aria-current],
body #page .wp-block-categories a[aria-current],
body .widget_archive .wp-block-file__content-wrapper .wp-block-file__textlink[aria-current],
body .wp-block-file__content-wrapper .widget_archive .wp-block-file__textlink[aria-current],
body #page .wp-block-archives .wp-block-file__content-wrapper .wp-block-file__textlink[aria-current],
body .wp-block-file__content-wrapper #page .wp-block-archives .wp-block-file__textlink[aria-current],
body .widget_categories .wp-block-file__content-wrapper .wp-block-file__textlink[aria-current],
body .wp-block-file__content-wrapper .widget_categories .wp-block-file__textlink[aria-current],
body #page .wp-block-categories .wp-block-file__content-wrapper .wp-block-file__textlink[aria-current],
body .wp-block-file__content-wrapper #page .wp-block-categories .wp-block-file__textlink[aria-current] {
	color: #495057;
}

body .widget_recent_comments .comment-author-link a,
body .widget_recent_comments .comment-author-link .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_recent_comments .comment-author-link .wp-block-file__textlink,
body .widget_recent_comments .wp-block-latest-comments__comment-author,
body .wp-block-latest-comments .comment-author-link a,
body .wp-block-latest-comments .comment-author-link .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .wp-block-latest-comments .comment-author-link .wp-block-file__textlink,
body .wp-block-latest-comments .wp-block-latest-comments__comment-author {
	color: #adb5bd;
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
}

body .widget_recent_comments .wp-block-latest-comments__comment-date,
body .wp-block-latest-comments .wp-block-latest-comments__comment-date {
	color: #adb5bd;
	margin-top: 10px;
	margin-top: 0.625rem;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: calc(17em / 14);
}

body .widget_recent_comments .recentcomments a,
body .widget_recent_comments .recentcomments .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_recent_comments .recentcomments .wp-block-file__textlink,
body .wp-block-latest-comments .recentcomments a,
body .wp-block-latest-comments .recentcomments .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .wp-block-latest-comments .recentcomments .wp-block-file__textlink {
	display: inline;
}

body .widget_recent_comments, body .wp-block-latest-comments,
body .widget_recent_entries, body .widget_rss, body .wp-block-latest-posts {
	padding: 0;
}

body .widget_recent_comments ul, body .wp-block-latest-comments ul,
body .widget_recent_entries ul, body .widget_rss ul,
body .wp-block-latest-posts ul {
	line-height: 0;
	margin: 0;
	padding: 0;
}

body .widget_recent_comments li, body .wp-block-latest-comments li,
body .widget_recent_entries li, body .widget_rss li,
body .wp-block-latest-posts li {
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.2;
}

body .widget_recent_comments li::before,
body .wp-block-latest-comments li::before,
body .widget_recent_entries li::before, body .widget_rss li::before,
body .wp-block-latest-posts li::before {
	display: none !important;
}

body .widget_recent_comments a, body .wp-block-latest-comments a,
body .widget_recent_entries a, body .widget_rss a, body .wp-block-latest-posts a,
body .widget_recent_comments .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_recent_comments .wp-block-file__textlink,
body .wp-block-latest-comments .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .wp-block-latest-comments .wp-block-file__textlink,
body .widget_recent_entries .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_recent_entries .wp-block-file__textlink,
body .widget_rss .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_rss .wp-block-file__textlink,
body .wp-block-latest-posts .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .wp-block-latest-posts .wp-block-file__textlink {
	color: #495057;
	text-decoration: none;
}

body .widget_recent_comments a:hover, body .wp-block-latest-comments a:hover,
body .widget_recent_entries a:hover, body .widget_rss a:hover,
body .wp-block-latest-posts a:hover,
body .widget_recent_comments .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_recent_comments .wp-block-file__textlink:hover,
body .wp-block-latest-comments .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .wp-block-latest-comments .wp-block-file__textlink:hover,
body .widget_recent_entries .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_recent_entries .wp-block-file__textlink:hover,
body .widget_rss .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_rss .wp-block-file__textlink:hover,
body .wp-block-latest-posts .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .wp-block-latest-posts .wp-block-file__textlink:hover {
	color: #ffc33a;
}

body .widget_recent_comments .wp-block-latest-posts__post-excerpt,
body .wp-block-latest-comments .wp-block-latest-posts__post-excerpt,
body .widget_recent_entries .wp-block-latest-posts__post-excerpt,
body .widget_rss .wp-block-latest-posts__post-excerpt,
body .wp-block-latest-posts .wp-block-latest-posts__post-excerpt,
body .widget_recent_comments .wp-block-latest-comments__comment-excerpt,
body .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt,
body .widget_recent_entries .wp-block-latest-comments__comment-excerpt,
body .widget_rss .wp-block-latest-comments__comment-excerpt,
body .wp-block-latest-posts .wp-block-latest-comments__comment-excerpt {
	color: #868e96;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: calc(24em / 18);
}

@media (max-width: 47.9375rem) {
	body .widget_recent_comments .wp-block-latest-posts__post-excerpt,
 body .wp-block-latest-comments .wp-block-latest-posts__post-excerpt,
 body .widget_recent_entries .wp-block-latest-posts__post-excerpt,
 body .widget_rss .wp-block-latest-posts__post-excerpt,
 body .wp-block-latest-posts .wp-block-latest-posts__post-excerpt,
 body .widget_recent_comments .wp-block-latest-comments__comment-excerpt,
 body .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt,
 body .widget_recent_entries .wp-block-latest-comments__comment-excerpt,
 body .widget_rss .wp-block-latest-comments__comment-excerpt,
 body .wp-block-latest-posts .wp-block-latest-comments__comment-excerpt {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.375;
	}
}

body .widget_recent_entries li, body .widget_rss li,
body .wp-block-latest-posts li {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

body .widget_recent_entries.is-grid li, body .is-grid.widget_rss li,
body .wp-block-latest-posts.is-grid li {
	margin: 0 0 40px;
	margin: 0 0 2.5rem;
}

@media (min-width: 37.5rem) {
	body .widget_recent_entries.columns-2 li, body .columns-2.widget_rss li,
 body .wp-block-latest-posts.columns-2 li {
		padding: 0 10px;
		padding: 0 0.625rem;
		width: calc((100% + 1.25rem) / 2);
	}

	body .widget_recent_entries.columns-2 li:nth-child(2n+1),
 body .columns-2.widget_rss li:nth-child(2n+1),
 body .wp-block-latest-posts.columns-2 li:nth-child(2n+1) {
		margin-left: -10px;
		margin-left: -.625rem;
	}

	body .widget_recent_entries.columns-2 li:nth-child(2n+2),
 body .columns-2.widget_rss li:nth-child(2n+2),
 body .wp-block-latest-posts.columns-2 li:nth-child(2n+2) {
		margin-right: -10px;
		margin-right: -.625rem;
	}

	body .widget_recent_entries.columns-3 li, body .columns-3.widget_rss li,
 body .wp-block-latest-posts.columns-3 li {
		padding: 0 10px;
		padding: 0 0.625rem;
		width: calc((100% + 1.25rem) / 3);
	}

	body .widget_recent_entries.columns-3 li:nth-child(3n+1),
 body .columns-3.widget_rss li:nth-child(3n+1),
 body .wp-block-latest-posts.columns-3 li:nth-child(3n+1) {
		margin-left: -10px;
		margin-left: -.625rem;
	}

	body .widget_recent_entries.columns-3 li:nth-child(3n+3),
 body .columns-3.widget_rss li:nth-child(3n+3),
 body .wp-block-latest-posts.columns-3 li:nth-child(3n+3) {
		margin-right: -10px;
		margin-right: -.625rem;
	}

	body .widget_recent_entries.columns-4 li, body .columns-4.widget_rss li,
 body .wp-block-latest-posts.columns-4 li {
		padding: 0 10px;
		padding: 0 0.625rem;
		width: calc((100% + 1.25rem) / 4);
	}

	body .widget_recent_entries.columns-4 li:nth-child(4n+1),
 body .columns-4.widget_rss li:nth-child(4n+1),
 body .wp-block-latest-posts.columns-4 li:nth-child(4n+1) {
		margin-left: -10px;
		margin-left: -.625rem;
	}

	body .widget_recent_entries.columns-4 li:nth-child(4n+4),
 body .columns-4.widget_rss li:nth-child(4n+4),
 body .wp-block-latest-posts.columns-4 li:nth-child(4n+4) {
		margin-right: -10px;
		margin-right: -.625rem;
	}

	body .widget_recent_entries.columns-5 li, body .columns-5.widget_rss li,
 body .wp-block-latest-posts.columns-5 li {
		padding: 0 10px;
		padding: 0 0.625rem;
		width: calc((100% + 1.25rem) / 5);
	}

	body .widget_recent_entries.columns-5 li:nth-child(5n+1),
 body .columns-5.widget_rss li:nth-child(5n+1),
 body .wp-block-latest-posts.columns-5 li:nth-child(5n+1) {
		margin-left: -10px;
		margin-left: -.625rem;
	}

	body .widget_recent_entries.columns-5 li:nth-child(5n+5),
 body .columns-5.widget_rss li:nth-child(5n+5),
 body .wp-block-latest-posts.columns-5 li:nth-child(5n+5) {
		margin-right: -10px;
		margin-right: -.625rem;
	}

	body .widget_recent_entries.columns-6 li, body .columns-6.widget_rss li,
 body .wp-block-latest-posts.columns-6 li {
		padding: 0 10px;
		padding: 0 0.625rem;
		width: calc((100% + 1.25rem) / 6);
	}

	body .widget_recent_entries.columns-6 li:nth-child(6n+1),
 body .columns-6.widget_rss li:nth-child(6n+1),
 body .wp-block-latest-posts.columns-6 li:nth-child(6n+1) {
		margin-left: -10px;
		margin-left: -.625rem;
	}

	body .widget_recent_entries.columns-6 li:nth-child(6n+6),
 body .columns-6.widget_rss li:nth-child(6n+6),
 body .wp-block-latest-posts.columns-6 li:nth-child(6n+6) {
		margin-right: -10px;
		margin-right: -.625rem;
	}
}

body .widget_recent_entries *, body .widget_rss *, body .wp-block-latest-posts * {
	order: 2;
}

body .widget_recent_entries .post-date, body .widget_rss .post-date,
body .widget_recent_entries .wp-block-latest-posts__post-date,
body .widget_rss .wp-block-latest-posts__post-date,
body .wp-block-latest-posts .post-date,
body .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: #adb5bd;
	display: block;
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
	order: 1;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: calc(17em / 14);
}

@media (max-width: 47.9375rem) {
	body .widget_recent_entries .post-date, body .widget_rss .post-date,
 body .widget_recent_entries .wp-block-latest-posts__post-date,
 body .widget_rss .wp-block-latest-posts__post-date,
 body .wp-block-latest-posts .post-date,
 body .wp-block-latest-posts .wp-block-latest-posts__post-date {
		font-size: 12px;
		font-size: 0.75rem;
		line-height: calc(20em / 12);
	}
}

body .widget_nav_menu a,
body .widget_nav_menu .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_nav_menu .wp-block-file__textlink {
	display: block;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	padding: 12px 37px;
	padding: 0.75rem 2.3125rem;
	text-transform: uppercase;
}

body .widget_nav_menu a span,
body .widget_nav_menu .wp-block-file__content-wrapper .wp-block-file__textlink span,
body .wp-block-file__content-wrapper .widget_nav_menu .wp-block-file__textlink span {
	margin-left: 10px;
	margin-left: 0.625rem;
}

body .widget_nav_menu .current-menu-item>a:not(:hover),
body .widget_nav_menu .wp-block-file__content-wrapper .current-menu-item>.wp-block-file__textlink:not(:hover),
body .wp-block-file__content-wrapper .widget_nav_menu .current-menu-item>.wp-block-file__textlink:not(:hover) {
	color: #495057;
}

body .widget_tag_cloud .tagcloud {
	margin: -10px;
	margin: -.625rem;
	margin-bottom: 90px;
	margin-bottom: 5.625rem;
}

body .widget_tag_cloud .tagcloud a,
body .widget_tag_cloud .tagcloud .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_tag_cloud .tagcloud .wp-block-file__textlink {
	display: inline-block;
	margin: 10px;
	margin: 0.625rem;
	padding: 13px 20px 9px 20px;
	padding: 0.8125rem 1.25rem 0.5625rem 1.25rem;
	text-transform: uppercase;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.1875;
}

@media (max-width: 47.9375rem) {
	body .widget_tag_cloud .tagcloud a,
 body .widget_tag_cloud .tagcloud .wp-block-file__content-wrapper .wp-block-file__textlink,
 body .wp-block-file__content-wrapper .widget_tag_cloud .tagcloud .wp-block-file__textlink {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: calc(17em / 14);
	}
}

body .widget_tag_cloud .tagcloud .tag-link-count::before {
	border: solid 3px;
	border: solid 0.1875rem;
	border-radius: 50%;
	content: "";
	display: inline-block;
	margin: 0 10px;
	margin: 0 0.625rem;
	transition: 0.2s;
	vertical-align: 15%;
}

body .widget_calendar {
	color: #adb5bd;
	margin: 100px 0;
	margin: 6.25rem 0;
}

@media (max-width: 47.9375rem) {
	body .widget_calendar {
		margin: 60px 0;
		margin: 3.75rem 0;
	}
}

body .widget_calendar caption {
	color: #495057;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.1875;
}

body .widget_calendar table {
	border-collapse: separate;
	border-spacing: 10px;
	border-spacing: 0.625rem;
	table-layout: fixed;
}

body .widget_calendar td, body .widget_calendar th {
	border-radius: 0.3125rem;
	line-height: 44px;
	line-height: 2.75rem;
	padding: 0;
	text-align: center;
}

body .widget_calendar td a,
body .widget_calendar td .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_calendar td .wp-block-file__textlink,
body .widget_calendar th a,
body .widget_calendar th .wp-block-file__content-wrapper .wp-block-file__textlink,
body .wp-block-file__content-wrapper .widget_calendar th .wp-block-file__textlink {
	border: 3px solid;
	border: 0.1875rem solid;
	border-radius: inherit;
	color: #495057;
	display: block;
	transition: 0.2s;
}

body .widget_calendar td a:not(:hover),
body .widget_calendar td .wp-block-file__content-wrapper .wp-block-file__textlink:not(:hover),
body .wp-block-file__content-wrapper .widget_calendar td .wp-block-file__textlink:not(:hover),
body .widget_calendar th a:not(:hover),
body .widget_calendar th .wp-block-file__content-wrapper .wp-block-file__textlink:not(:hover),
body .wp-block-file__content-wrapper .widget_calendar th .wp-block-file__textlink:not(:hover) {
	border-color: transparent;
}

body .widget_calendar td a:hover,
body .widget_calendar td .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_calendar td .wp-block-file__textlink:hover,
body .widget_calendar th a:hover,
body .widget_calendar th .wp-block-file__content-wrapper .wp-block-file__textlink:hover,
body .wp-block-file__content-wrapper .widget_calendar th .wp-block-file__textlink:hover {
	color: #ffc33a;
}

body .widget_calendar tbody::before, body .widget_calendar tbody::after {
	content: "";
	display: block;
	height: 10px;
	height: 0.625rem;
}

body .widget_calendar #wp-calendar {
	margin: 0 auto;
	width: 100%;
}

body .widget_calendar thead, body .widget_calendar tfoot td:not(.pad),
body .widget_calendar td:not([colspan]):not(.pad) {
	box-shadow: 0 0 0.1875rem 0 rgba(0, 0, 0, 0.16);
}

body .widget_rss .widget-title .rsswidget {
	display: inline-block;
	margin-bottom: 0;
}

body .widget_rss .rssSummary {
	margin-top: 10px;
	margin-top: 0.625rem;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.2;
}

body .widget_rss cite {
	display: block;
	margin-top: 10px;
	margin-top: 0.625rem;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: calc(17em / 14);
}

body .widget_media_gallery .gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	margin: 0 -.625rem;
}

body .widget_media_gallery figure {
	margin: 10px;
	margin: 0.625rem;
}

body .widget_media_gallery figure figcaption {
	color: #adb5bd;
	margin-top: 10px;
	margin-top: 0.625rem;
	text-transform: uppercase;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: calc(17em / 12);
}

body .widget_media_gallery figure img {
	display: block;
	height: auto;
	max-width: 100%;
}

body .widget_media_gallery .gallery-columns-1 .gallery-item {
	width: calc((100% / 1) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-2 .gallery-item {
	width: calc((100% / 2) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-3 .gallery-item {
	width: calc((100% / 3) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-4 .gallery-item {
	width: calc((100% / 4) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-5 .gallery-item {
	width: calc((100% / 5) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-6 .gallery-item {
	width: calc((100% / 6) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-7 .gallery-item {
	width: calc((100% / 7) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-8 .gallery-item {
	width: calc((100% / 8) - 1.25rem);
}

body .widget_media_gallery .gallery-columns-9 .gallery-item {
	width: calc((100% / 9) - 1.25rem);
}

body .widget_search .search-form {
	padding: 0;
}

body .widget_search form {
	justify-content: space-between;
}

body .widget_search .search-input {
	background-image: none !important;
	flex: 0 0 auto !important;
	padding: 0 40px !important;
	padding: 0 2.5rem !important;
	width: calc(94% - 5rem) !important;
	font-size: 18px;
	font-size: 1.125rem;
}

@media (max-width: 74.9375rem) {
	body .widget_search .search-input {
		padding: 0 20px !important;
		padding: 0 1.25rem !important;
	}
}

@media (max-width: 29.9375rem) {
	body .widget_search .search-input {
		background-position: 20px center;
		background-position: 1.25rem center;
		padding: 0 20px 0 58px;
		padding: 0 1.25rem 0 3.625rem;
	}
}

body .widget_search .search-input:-ms-input-placeholder {
	color: #adb5bd;
}

body .widget_search .search-input::-ms-input-placeholder {
	color: #adb5bd;
}

body .widget_search .search-input::placeholder {
	color: #adb5bd;
}

body .widget_search .search-button {
	margin-left: 0;
	overflow: hidden;
	padding: 0 0 0 76px;
	padding: 0 0 0 4.75rem;
	position: relative;
	width: 80px;
	width: 5rem;
}

body .widget_search .search-button svg {
	display: block;
	height: 24px;
	height: 1.5rem;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
	width: 1.5rem;
}

body .widget_search .search-button g, body .widget_search .search-button line {
	stroke: #fff;
	transition: 0.2s;
}

body .widget_search .search-button:hover g,
body .widget_search .search-button:hover line {
	stroke: #ff8787;
}
