/*
Theme Name: Hottest
Theme URI: https://starthemes.net/wordpress-themes/free-restaurant-wordpress-theme/
Author: Starthemes
Author URI: https://starthemes.net
Description:  Hottest is a clean, elegant and imaginative restaurant WordPress theme. This this responsive and made for restaurants, cafe, bars and other related to food industries. This theme comes with some options in customizer so you can showcase you online presence very easily. This theme design can attract the customers to explore more about your shop. This theme has been made by expert developers and designer by analyzing the food industries and their demands. This theme has comes with the easy to use customizer so you can setup your site within few clicks. Preloaded google fonts comes with this theme can make your font selection hassle free. It's fully responsive theme can performance nicely on the mobile and tablet view.

Version: 1.1.3
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: hottest
Tags:  food-and-drink, right-sidebar, custom-background, custom-header, custom-menu, featured-images, theme-options, threaded-comments, custom-logo, blog, full-width-template

Hottest is based on Underscores theme(Underscores is distributed under the terms of the GNU GPL v2 or later).
Hottest WordPress Theme has been created by Starthemes(starthemes.net), 2019.
Hottest WordPress Theme is released under the terms of GNU GPL
*/


*{
	outline:none;
}
body {
    margin: 0;
    padding: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font: 16px/22px 'Assistant';
    color: #5f5f5f;
	background-color:#f1f1f1;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
}
section img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
	font-family: 'Roboto';
	line-height:normal;
	color:#282828;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #0fa5d9;
}
a:hover {
    text-decoration: none;
    color: #666;
}
ul {
    margin: 0 0 0 15px;
    padding: 0;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
    margin-bottom: 40px;
}
pre {
    border: 1px solid #d1d1d1;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 1.75em;
    white-space: pre-wrap;
}
.middle-align {
    margin: 0 auto;
    padding: 0;
}
.wp-caption {
    margin: 0;
    padding: 0;
    font-size: 13px;
    max-width: 100%;
}
.wp-caption-text {
    margin: 0;
    padding: 0;
}
.sticky {
    margin: 0;
    padding: 0;
}
.screen-reader-text,
.bypostauthor,
.gallery-caption {
    margin: 0;
    padding: 0;
}
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 45px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 0;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.comment-list .comment-content ul {
    list-style: none;
    margin-left: 15px;
}
.comment-list .comment-content ul li {
    margin: 5px;
}
.main-container ol {
    list-style-position: outside;
}
.main-container ol li {
    margin: 5px 0;
}
.toggleMenu {
    display: none;
}
section {
    padding-bottom:50px;
    position: relative;
}
h2.section-title {
    font-family: 'Assistant';
    font-size: 33px;
    font-weight: 700;
    padding: 0 0 20px 0;
    text-align: center;
    text-transform: capitalize;
    display: table;
    margin-bottom: 50px;
	color:#4d4d4b;
}

#slider {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#slider .top-bar {
    margin: 0;
    padding: 16px 0 20px;
    position: relative;
}
#slider .top-bar h2 {
    font:700 70px 'Roboto';
    padding: 25px 0 5px 0;
}
#slider .top-bar h2 a {
    color: #ffffff;
}
#slider .top-bar h2 a:hover {
    color: #ffffff;
}
#slider .top-bar p {
    color: #ffffff;
    margin: 0 0 10px 0;
    padding: 5px 0 25px;
    border-radius: 0 0 5px 5px;
    font: 400 16px/25px 'Assistant';
}
#slider .top-bar .slide-button{
	color:#ffffff;
	padding:10px 25px;
	font-weight:bold;
	border-radius:20px;
}
.main-container {
    margin: 0;
    padding:40px 0;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#header { 
	width:100%; 
	padding:0; 
	position:relative;
	background-color:#000000;
	position:relative;
}
.header-inner { 
	width:1170px; 
	margin:0 auto;
	padding:20px 0;
}
.logo h1 { 
	padding:0; 
	font:700 30px 'Roboto'; 
	color:#ffffff;
}
#header .logo { 
	padding:0; 
	z-index:99; 
	float:left;
}
#header .logo p { 
	margin-top:0px; 
	color:#ffffff; 
	font:400 14px 'Assistant';
}
.toggle{
	display:none;
}

#navigation {
	z-index:6;
	margin:0;
	float:right;
}
#headernav {
	border-top:1px solid #1c1006;
	border-bottom:1px solid #1c1006;
}
.toggle a {
	width:auto;
	color:#fff;
	background:url(images/mobile_nav_right.png) no-repeat right center #000;
	margin-top:5px;
	font-size:16px;
	text-align:left;
	padding:10px 25px;
}

.toggle a:hover {
	color:#fff!important;
}
.sitenav {
	position:relative;
	z-index:9999;
	padding:0;
}
.sitenav ul {
	font-family:'Roboto';
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
	margin:0;
	padding:0;
}

.sitenav ul li {
	display:table-cell;
	position:relative;
}

.sitenav ul li a {
	display:block;
	text-align:center;
	color:#ffffff;
	padding:20px 15px;
	letter-spacing:0.1em;
}

.sitenav ul li ul li {
	display:block;
	position:relative;
	float:none;
	top:1px;
	border-bottom:1px #000 solid;
}

.sitenav ul li ul li a {
	display:block;
	padding-top:7px;
	padding-bottom:7px;
	position:relative;
	top:0;
	text-align:left;
	-ms-transform:skewX(0deg);
	-webkit-transform:skewX(0deg);
	transform:skewX(0deg);
	color:#323232;
}

.sitenav ul li a:hover,
.sitenav ul li.current_page_item a,
.sitenav ul li:hover a.parent {
	color:#fdad20;
}

.sitenav ul li ul.sub-menu li a:hover,
.sitenav ul li.current_page_item ul.sub-menu li a:hover,
.sitenav ul li ul.sub-menu li.current_page_item a {
	background-color:transparent;
}

.sitenav ul li ul {
	display:none;
	z-index:9999;
	position:relative;
}

.sitenav ul li:hover > ul {
	display:block;
	width:200px;
	position:absolute;
	left:0;
	top:62px;
	text-align:left;
	background-color:#ffffff;
}

.sitenav ul li:hover ul li ul {
	display:none;
	position:relative;
}

.sitenav ul li:hover ul li:hover > ul {
	display:block;
	position:absolute;
	left:200px;
	top:-1px;
}

.hright-content span,.toggle {
display:block;
}

/* = section first css
-------------------------------------------------------------- */
section#pagearea { 
	width:100%; 
	position:relative; 
	min-height:270px;
}
.pagearea-inner { 
	z-index:99; 
	width:100%;
}

/* --------- Pages ------- */

.content-area {
    width: 1160px;
    margin: 0 auto;
    padding:0;
}
.site-main {
    width: 800px;
    margin: 0;
    padding: 0;
    float: left;
}
#sitefull {
    width: auto !important;
}
#nosidebar {
    width: 80%;
    margin: 0 auto;
    float: none;
    text-align: center;
}
#sidebar {
    width: 270px;
    margin: 0;
    padding: 0;
    float: right;
}
/* -------- Footer ------- */

.copyright-wrapper{ 
	margin:0; 
	text-align:center; 
	padding:15px 0; 
	color:#ffffff; 
	background-color:#2e2e2e;
}
.copyright-wrapper a{ 
	color:#ffffff;
}
/* ------ Contact Form ------ */

.wpcf7 {
    margin: 0;
    padding: 0;
    font: 400 15px 'Assistant';
    color: #4e4e4e;
}
.wpcf7 form {
    margin: 0;
    padding: 0;
}
.wpcf7 form span.last {
    float: none !important;
}
.wpcf7 form input[type="text"],
.wpcf7 form input[type="email"],
.wpcf7 form input[type="tel"],
.wpcf7 form input[type="url"],
.wpcf7 form input[type="date"],
.wpcf7 form select,
.leftdiv input[type="text"],
.leftdiv input [type="url"],
.leftdiv input[type="email"],
.leftdiv input[type="tel"],
.wpcf7 form textarea,
.rightdiv textarea {
    width: 94%;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-top: 15px;
    font: 400 14px 'Assistant';
    color: #777777;
}
.wpcf7 form textarea,
.rightdiv textarea {
    height: 128px;
}
.wpcf7 form input[type="checkbox"],
.wpcf7 form input[type="radio"],
.wpcf7 form input[type="file"] {
    margin-top: 10px;
    padding: 0;
}
span.wpcf7-list-item {
    margin: 0 15px 0 0 !important;
}
.wpcf7 form input[type="submit"],
#contact input[type="submit"] {
    font: 400 15px 'Assistant';
    margin: 25px 0 0 0;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    background-color: #000000;
	color:#ffffff;
}
.error_msg {
    padding: 10px;
    background: #ffd3ce;
    color: #e00;
    border: 1px #e00 solid;
    margin: 15px 0;
}
.success_msg {
    padding: 10px;
    background: #dcffc5;
    color: #070;
    border: 1px #070 solid;
    margin: 15px 0;
}
.spacer20 {
    height: 20px;
    clear: both;
}
.nav-links {
    display: table;
    clear: both;
    margin: 15px 0;
    width: 100%;
}
.nav-previous {
    float: left;
}
.nav-next {
    float: right;
}
.nav-links a,
.nav-links .page-numbers {
    background: #2e2e2e;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}
.nav-links .current,
.nav-links a:hover {
    background: #ee6133;
}
h1.entry-title,
h1.page-title {
    padding-bottom: 20px;
    font-size: 30px;
}
article.tag-sticky-2 {
    background: #f6f6f6;
    padding: 10px;
}
article img {
    height: auto;
}
article p {
    margin: 0;
}
.post-date {
    display: inline;
}
.post-comment {
    display: inline;
}
.post-categories {
    display: inline;
}
.post-tags {
    display: inline;
}
.post-thumb, .postmeta{
	margin-top:10px;
}
form.search-form {
    margin-bottom: 15px;
}
input.search-field,
.post-password-form input[type=password] {
    border: 1px #eee solid;
    padding: 4px;
}
input.search-submit,
.post-password-form input[type=submit] {
    border: none;
    color: #ffffff;
    padding: 4px 10px;
    cursor: pointer;
}
aside.widget {
    margin-bottom: 30px;
}
aside.widget ul {
    list-style: disc;
    margin-left: 13px;
}
.accordion-box h2.active {
    color: #ff8a00;
}
.webicon {
    font-size: 20px;
}
#sidebar ul li {
    margin: 5px 0;
}
.comment-list,
ol.comment-list {
    list-style: none;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
	padding-left:0;
}
.comment-list ul,
ol.comment-list ul {
    list-style: none;
}
.comment-list li.comment {
    margin-top: 20px;
}
.comment-list .comment-content h1,
.comment-list .comment-content h2,
.comment-list .comment-content h3,
.comment-list .comment-content h4,
.comment-list .comment-content h5,
.comment-list .comment-content h6 {
    margin-top: 15px;
}
ol.comment-list li ol{
	list-style:none;
}
h3.widget-title {
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.blog-post-repeat {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px;
}
a.blogthumbs img {
    width: 100%;
}
#wp-calendar td {
    padding: 9px;
}
.textwidget select {
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
}
/*------- COMMENT STYLES --------*/

.comment-author.vcard {
    display: inline-block;
    margin-right: 15px;
	float:left;
}
.comment-author img {
    display: block;
}
.comment-meta {
    margin:0;
}
.comment-list ol.children li.comment {
    background-image: none;
    padding-left: 5px;
}
.hrule {
    border-top: 1px #dbdbdb solid;
    margin-top: 15px;
    padding-bottom: 15px;
}
ol.commentlist {
    list-style: none;
}
#commentform p {
    margin: 5px 0;
}
#commentform label {
    display: block;
}
#commentform input#email,
#commentform input#url,
#commentform input#author,
#commentform textarea,
#commentform input#eazycfc_captcha {
    max-width: 96%;
    border: 1px #ccc solid;
    padding: 5px 2%;
}
#commentform input#submit {
    font: 400 15px 'Assistant';
    border: none;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
}
#commentform input#submit:hover {
    cursor: pointer;
}
#respond{
	margin-top:15px;
}
.form-allowed-tags {
    display: none;
}
ul.errormsg {
    background: #ffe4e4;
}
ul.errormsg li {
    padding: 5px;
}
.entry-content table,
.comment-body table {
    border-collapse: collapse;
    margin: 10px 0;
}
.entry-content table td,
.entry-content table th,
.comment-body table td,
.comment-body table th {
    padding: 10px 5px;
    text-align: left;
}
.entry-content table th,
.comment-body table th {
    color: #676767;
    font: normal 18px Oswald;
    border-bottom: 1px #888 solid;
}
.entry-content table td,
.comment-body table td {
    border-bottom: 1px #ccc solid;
}
.fvch-codeblock:hover .comment-form-url {
    display: block !important;
}
footer.entry-meta {
    clear: left;
}
